<footer class="bg-white py-10 py-lg-12">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-4">
                <div class="mb-2 mb-lg-0">
                    <a href="index.html" class="font-shrikhand fs-5 text-black text-decoration-none">ALPHABOX+</a>
                    <p class="fw-bold mb-0 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-lg-center">
                <span class="material-symbols-outlined material-symbols-lg mb-2 mb-lg-0">emergency</span>
            </div>
            <div class="col-12 col-lg-4">
                <ul class="list-unstyled d-lg-flex justify-content-end mb-2 mb-lg-0 ">
                    <li class="mb-2 mb-lg-0 me-lg-6">
                        <a href="#" class="link-dark fw-bold text-nowrap">關於我們</a>
                    </li>
                    <li class="mb-2 mb-lg-0 me-lg-6">
                        <a href="#" class="link-dark fw-bold text-nowrap">產品資訊</a>
                    </li>
                    <li class="mb-2 mb-lg-0 me-lg-6">
                        <a href="#" class="link-dark fw-bold text-nowrap">常見問題</a>
                    </li>
                    <li class="mb-2 mb-lg-0 ">
                        <a href="#" class="link-dark fw-bold text-nowrap">隱私政策</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="fw-bold mb-0 d-block d-lg-none">Copyright © 2023 Hexschool.</p>
    </div>
</footer>