<header class="position relative">
    <div class="navbar-bg">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand font-shrikhand fs-5 text-white text-decoration-none"
                        href="index.html">ALPHABOX+</a>
                    <!-- 選單 -->
                    <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
                        <li class="nav-item me-lg-6 me-xl-10">
                            <a class="nav-link text-nowrap" aria-current="page" href="#">產品</a>
                        </li>
                        <li class="nav-item me-lg-6 me-xl-10">
                            <a class="nav-link text-nowrap" href="#">關於我們</a>
                        </li>
                        <li class="nav-item me-lg-6 me-xl-10">
                            <a class="nav-link text-nowrap" href="news.html">最新消息</a>
                        </li>
                        <li class="nav-item me-lg-6 me-xl-10">
                            <a class="nav-link text-nowrap" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="#">聯絡我們</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
                        <li class="nav-item me-6">
                            <a href="#" class="nav-link text-nowrap">註冊</a>
                        </li>
                        <li class="nav-item me-lg-6 me-lx-8">
                            <a href="#" class="nav-link text-nowrap">登入</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-light border-0 fw-medium text-nowrap">
                                <span class="material-symbols-outlined align-top ">point_scan</span>
                                訂閱</a>
                        </li>
                    </ul>
                    <!-- 漢堡選單按鈕 -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <!-- 摺疊選單 -->
    <div class="collapse navbar-collapse position-absolute z-3 w-100 border-top border-white pt-6 pb-8"
        id="navbarSupportedContent">
        <ul class="navbar-nav text-center text-white fw-medium">
            <li class="nav-item mb-1">
                <a class="nav-link active" aria-current="page" href="#">產品</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" href="#">關於我們</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" href="news.html">最新消息</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" href="#">聯絡我們</a>
            </li>
        </ul>
        <ul class="navbar-nav text-center text-white fw-medium">
            <li class="nav-item mb-1">
                <a href="#" class="nav-link">註冊</a>
            </li>
            <li class="nav-item mb-1">
                <a href="#" class="nav-link">登入</a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-light border-0 fw-medium py-2">
                    <span class="material-symbols-outlined align-top ">point_scan</span>
                    訂閱</a>
            </li>
        </ul>
    </div>
</header>