.carousel-control-prev-icon{
    background-image: url(../images/line_start_arrow_xl_prev.png);
}
.carousel-control-next-icon{
    background-image: url(../images/line_end_arrow_xl_next.png);
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 180px;
    height: 3rem;
}