.h2-box {
    border-bottom: 1px dotted #fff;
}

.bg {
    background-color: rgb(233, 226, 243);
}

.list {
    @media (max-width: 768px) {
        border-bottom: 1px dotted #fff;
    }
}

.accordion-button {
    padding-left: 0;
}

.accordion-body {
    padding: 0;
}

.abc {
    @media (max-width: 768px) {
        border-bottom: 1px solid black;
    }
}