.index-container {
  max-width: 100%;
  margin: 0 auto;
  padding: .75rem;

  @include md {
    max-width: 720px;
  }

  @include lg {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140px;
  }

  @include xxl {
    max-width: 1320px;
  }

  @include cus {
    max-width: 1760px;
  }

}

// banner區
.index-banner {
  background-image: url(../images/index_banner_dec.png), linear-gradient(to bottom, $indigo-200 0%, $indigo-600 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: left bottom, center,
}

.index-banner-news {
  width: 100%;
}

// 機器人區
.robot-img {
  max-height: 676px;

  &-sm {
    max-height: 580px;
  }
}

.robot-hover {
  transition: 0.4s;

  &:hover {
    box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.80);
  }
}

// carousel區
.index-carousel-bg {
  background-image: url(../images/index-carousel_background.png), radial-gradient(50% 50% at 50% 50%, $indigo-300 0%, $black 100%);
  background-repeat: no-repeat, no-repeat;
  background-color: cover;
  background-position: left center, center center;
}

// 漸層裝飾
.index-carousel-gradient {
  height: 2.5rem;
  @include gradient-x;

  &-reverse {
    height: 2.5rem;
    @include gradient-x-reverse;
  }
}

// 輪播
.index-carousel-frame {
  max-width: 1296px;
}

.index-carousel-img {
  height: 351px;

  @include lg {
    height: 560px;
  }
}

// 最新消息
.index-news-link {
  opacity: 1;

  &:hover,
  &:active {
    opacity: 0.8;
  }
}

// 使用分享
// 背景
.bg-g-circle-reverse::before {
  content: "ALPHABOX+";
  font-size: 128px;
  font-family: 'shrikhand';
  color: white;
  opacity: 0.04;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-10%, 35%);

  @include md {
    font-size: 256px;
  }

  @include lg {
    font-size: 400px;
  }
}

// 卡片寬度
.index-share {
  width: 100% !important;

  @include md {
    width: 50% !important;
  }

  @include lg {
    max-width: 416px !important;
  }
}

// 聯絡我們
.index-contact-doc {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.index-contact-line {
  width: 124px;
  height: 12px;
  border-radius: 12px;
}

.index-intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;

  @include xl {
    max-width: 100%;
  }
}

.index-intro-mask {
  background-color: rgba($color: $black, $alpha: 1);
  // 背景混和模式: 色彩增值
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transition: 0.6s;

  &:hover {
    background-color: rgba($color: $black, $alpha: .5);
  }

  &-diane {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_vertical.png?raw=true);
  }

  &-felix {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_vertical.png?raw=true);
  }

  &-karina {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_verticalgle.png?raw=true);
  }

  &-vito {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true);
  }

}