<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- banner區塊 -->
    <div class="index-banner border-top border-white">
      <div class="index-container mb-n26">
        <!-- circle 區塊 -->
        <div class="row mt-7 mt-lg-14 mb-8 mb-lg-14">
          <div class="col-lg-3 d-none d-lg-flex align-items-end">
            <a href="#" class="index-banner-news font-bold link-light border-bottom pb-2 d-none d-lg-block">最新消息！新版本
              v15.4 釋出，搶先體驗！</a>
          </div>
          <div class="col-lg-6 text-center">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true"
              alt="ALPHABOX+ decoration" class="img-circle img-fluid">
          </div>
          <div class="col-lg-3 d-none d-lg-flex flex-column justify-content-between">
            <a href="#"
              class="index-banner-news font-bold link-light border-top text-center text-lg-start pt-2 mb-8 mb-lg-auto">ALPHABOX+
              STUDIO</a>
            <p class="text-cus d-none d-lg-block">Copyright © 2023 Hexschool.</p>
          </div>
        </div>
        <!-- 角色區塊 -->
        <div class="text-center text-white mb-6 d-block d-md-none">
          <h2 class="list-unstyled d-flex justify-content-between index-robot-title fs-5 font-shrikhand mb-0">
            <span>A</span>
            <span>L</span>
            <span>P</span>
            <span>H</span>
            <span>A</span>
            <span>B</span>
            <span>O</span>
            <span>X</span>
            <span>+</span>
          </h2>
          <p class="fs-8 fw-bold ls-sm ls-lg-4 mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        </div>
        <div class="row gx-lg-8 gy-4">
          <div class="col-12 col-md-6 col-lg-3 order-md-2 order-lg-1">
            <a href="#" class="robot-hover position-relative d-block overflow-hidden">
              <p
                class="fs-5 font-shrikhand text-white text-center position-absolute top-16 start-50 translate-middle-x">
                Diane</p>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true"
                alt="AI-Robot: Daine" class="img-fluid d-block d-block d-lg-none">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane.png?raw=true"
                alt="AI-Robot: Daine" class="robot-img img-fluid d-none d-lg-block">
            </a>
          </div>
          <div class="col-12 col-lg-6 order-md-1 order-lg-2">
            <div class="row gx-lg-8 gy-4 gy-lg-0">
              <div class="text-center text-white mb-6 d-none d-md-block">
                <h2 class="list-unstyled d-flex justify-content-between index-robot-title fs-5 font-shrikhand mb-0">
                  <span>A</span>
                  <span>L</span>
                  <span>P</span>
                  <span>H</span>
                  <span>A</span>
                  <span>B</span>
                  <span>O</span>
                  <span>X</span>
                  <span>+</span>
                </h2>
                <h1 class="fs-8 fw-bold ls-4 mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h1>
              </div>
              <div class="col-12 col-md-6">
                <a href="#" class="robot-hover position-relative d-block">
                  <p
                    class="fs-5 font-shrikhand text-white text-center position-absolute top-16 start-50 translate-middle-x">
                    Felix</p>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_square1.png?raw=true"
                    alt="AI-Robot: Felix" class="img-fluid d-block d-lg-none">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix.png?raw=true"
                    alt="AI-Robot: Felix" class="robot-img-sm img-fluid d-none d-lg-block">
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a href="#" class="robot-hover position-relative d-block">
                  <p
                    class="fs-5 font-shrikhand text-white text-center position-absolute top-16 start-50 translate-middle-x">
                    Karina</p>
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_square1.png?raw=true"
                    alt="AI-Robot: Karina" class="img-fluid d-block d-lg-none">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina.png?raw=true"
                    alt="AI-Robot: Karina" class="robot-img-sm img-fluid d-none d-lg-block">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 order-md-3">
            <a href="#" class="robot-hover position-relative d-block">
              <p
                class="fs-5 font-shrikhand text-white text-center position-absolute top-16 start-50 translate-middle-x">
                Vito</p>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square1.png?raw=true"
                alt="AI-Robot: Vito" class="img-fluid d-block d-lg-none">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true"
                alt="AI-Robot: Vito" class="robot-img img-fluid d-none d-lg-block">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- 輪播區塊 -->
    <div class="index-carousel-bg">
      <div class="border-bottom border-white mb-4 mb-lg-8">
        <div class="index-container pt-34 pt-lg-36">
          <div class="index-carousel-gradient mb-4 mb-lg-2"></div>
          <h3 class="text-white fs-lg-3 ls-6 ls-lg-12 pb-5 pb-lg-4">
            <span class="mb-3">什麼是</span><br>
            <span class="">ALPHABOX+</span>
          </h3>
        </div>
      </div>
      <div class="index-container pb-15 pb-lg-13">
        <!-- 跑馬燈 -->
        <div id="alphabox-carousel" class="carousel slide mb-8" data-bs-ride="carousel">
          <div class="carousel-inner index-carousel-frame mx-auto">
            <div class="carousel-item active position-relative">
              <img src="../assets/images/carousel.png" class="img-fluid index-carousel-img object-fit-cover"
                alt="顯示立體投影技術">
              <div
                class="position-absolute top-50 start-50 translate-middle w-100 text-white text-lg-end ps-4 pe-lg-10">
                <span class="font-shrikhand fs-2 fs-lg-1">01</span>
                <h5 class="fs-6 fs-lg-5 fw-bold ls-6 ls-lg-8 mb-2 mb-lg-4">立體投影技術</h5>
                <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>
            <div class="carousel-item position-relative">
              <img src="../assets/images/carousel.png" class="img-fluid index-carousel-img object-fit-cover"
                alt="顯示立體投影技術">
              <div
                class="position-absolute top-50 start-50 translate-middle w-100 text-white text-lg-end ps-4 pe-lg-10">
                <span class="font-shrikhand fs-2 fs-lg-1">01</span>
                <h5 class="fs-6 fs-lg-5 fw-bold ls-6 ls-lg-8 mb-2 mb-lg-4">立體投影技術</h5>
                <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev justify-content-start d-none d-lg-flex" type="button"
            data-bs-target="#alphabox-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next justify-content-end d-none d-lg-flex" type="button"
            data-bs-target="#alphabox-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="index-carousel-gradient-reverse"></div>
      </div>
    </div>
    <!-- 最新消息 -->
    <div class="bg-cus-circle">
      <div class="container pt-15 pt-lg-40 pb-20 pb-lg-10">
        <h3 class="text-white text-center text-lg-start fs-4 fs-lg-3 fw-bold ls-10 ls-lg-12 mb-8 mb-lg-10 ">最新消息</h3>
        <div class="row gx-lg-8 mb-10 mb-lg-19">
          <div class="col-12 border-bottom border-top border-white py-8 py-lg-10">
            <a href="#" class="text-white index-news-link">
              <time class="fw-bold mb-2 ls-4">
                <span class="material-symbols-outlined align-top me-4">emergency</span>
                2023.06.30</time>
              <p class="fs-7 fw-bold mb-3 ls-4">限時優惠活動</p>
              <div class="row flex-column flex-lg-row justify-content-lg-between">
                <div class="col-12 col-lg-9">
                  <p class="fw-bold mb-3 mb-lg-0">榮幸地宣布，ALPHABOX+
                    已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
                <div class="col-12 col-lg-3 text-start text-lg-end">
                  <img src="../assets/images/line_end_arrow_md.png" alt="go to news">
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-lg-6 py-8 py-lg-10 border-bottom border-end-lg border-white">
            <a href="#" class="text-white index-news-link">
              <time class="fw-bold mb-2 ls-4">
                <span class="material-symbols-outlined align-top me-4">emergency</span>
                2023.06.30</time>
              <p class="fs-7 fw-bold mb-3 ls-4">限時優惠活動</p>
              <div class="row flex-column">
                <div class="col-12 col-lg-9">
                  <p class="fw-bold mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                </div>
                <div class="col-12 col-lg-3">
                  <img src="../assets/images/line_end_arrow_sm.png" alt="go to news">
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-lg-6 py-8 py-lg-10 border-bottom  border-white">
            <a href="#" class="text-white index-news-link">
              <time class="fw-bold mb-2 ls-4">
                <span class="material-symbols-outlined align-top me-4">emergency</span>
                2023.06.30</time>
              <p class="fs-7 fw-bold mb-3 ls-4">限時優惠活動</p>
              <div class="row flex-column">
                <div class="col-12 col-lg-9">
                  <p class="fw-bold mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                </div>
                <div class="col-12 col-lg-3">
                  <img src="../assets/images/line_end_arrow_sm.png" alt="go to news">
                </div>
              </div>
            </a>
          </div>
        </div>
        <a href="#" class="link-light d-block text-center position-relative mb-0 mb-lg-24">
          <img src="../assets/images/circle_sm.png" alt="查看更多"
            class="img-circle img-circle-sm img-circle-empty img-fluid">
          <p class="fw-bold mb-0 position-absolute top-50 start-50 translate-middle">查看更多</p>
        </a>
        <p class="text-white fw-bold text-end d-none d-lg-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
      </div>
    </div>
    <!-- 使用分享 -->
    <div class="bg-cus-circle-reverse pt-15 pt-lg-36 pb-20 pb-lg-10 position-relative overflow-hidden">
      <div class="container mb-4 mb-lg-6">
        <div class="row flex-column flex-lg-row">
          <div class="col-12 col-lg-4">
            <h3 class="fs-4 fs-lg-3 text-white fw-bold ls-10 ls-lg-6 ls-xxl-12 mb-4">使用分享</h3>
            <div class="d-flex text-white fw-bold">
              <span>01</span>
              <span class="mx-1">—</span>
              <span>04</span>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <p class="text-white fw-bold  mt-6 mb-0">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-12">
            <span class="material-symbols-outlined material-symbols-lg text-white mt-6 mt-lg-10">emergency</span>
          </div>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="container">
          <div class="swiper mySwiper mb-lg-12">
            <div class="swiper-wrapper flex-column flex-md-row gy-6 fw-bold">
              <div class="swiper-slide index-share bg-cus-purple card text-white mb-6 mb-md-0">
                <div class="card-body d-flex flex-column">
                  <p class="mb-8">Zona <span class="fs-9">●</span> Taipei</p>
                  <p class="card-text mb-auto">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                  <p class="mb-0">
                    <span class="me-4">●</span>
                    <span class="me-4">●</span>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </div>
              <div class="swiper-slide index-share card mb-6 mb-md-0">
                <div class="card-body d-flex flex-column">
                  <p class="mb-8">Lin <span class="fs-9">●</span> Chiayi</p>
                  <p class="card-text mb-auto">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                  <p class="mb-0">
                    <span class="me-4">●</span>
                    <span class="me-4">●</span>
                    ALPHABOX+ Felix
                  </p>
                </div>
              </div>
              <div class="swiper-slide index-share bg-cus-purple card text-white mb-6 mb-md-0">
                <div class="card-body d-flex flex-column">
                  <p class="mb-8">云 <span class="fs-9">●</span> Taipei</p>
                  <p class="card-text mb-auto">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                    ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                  </p>
                  <p class="mb-0">
                    <span class="me-4">●</span>
                    <span class="me-4">●</span>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </div>
              <div class="swiper-slide index-share card mb-6 mb-md-0">
                <div class="card-body d-flex flex-column">
                  <p class="mb-8">Zichi <span class="fs-9">●</span> Kaohsiung</p>
                  <p class="card-text mb-auto">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                  <p class="mb-0">
                    <span class="me-4">●</span>
                    <span class="me-4">●</span>
                    ALPHABOX+ Vito
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center d-none d-md-flex mb-lg-31">
            <div class="col-8">
              <div class="swiper-scrollbar position-static"></div>
            </div>
            <div class="col">
              <p class="fw-bold text-white mb-0">Scroll</p>
            </div>
          </div>
          <p class="text-white fw-bold d-none d-lg-block mb-0">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
        </div>
      </div>
    </div>
    <!-- 聯絡我們 -->
    <div class="bg-cus-purple-dark pt-15 pt-lg-36 pb-20 pb-lg-36">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
            <h3 class="fs-4 fs-lg-3 text-white fw-bold ls-10 ls-lg-12 mb-3 mb-lg-5">聯絡我們</h3>
            <div class="d-flex align-items-center mb-9 mb-lg-14">
              <span class="index-contact-doc bg-white me-2"></span>
              <span class="index-contact-line bg-white"></span>
            </div>
            <div class="mb-6 mb-lg-0">
              <p class="text-white fw-bold mb-1">讓科技成為您的最佳夥伴</p>
              <p class="text-white fw-bold mb-0">立即體驗神奇功能並享限時優惠！</p>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <span class="material-symbols-outlined material-symbols-lg text-white mb-4 mb-lg-0">emergency</span>
            <form class="row justify-content-end gx-0 gy-4">
              <div class="col-12">
                <div class="form-floating">
                  <input type="email" class="form-control fs-lg-7" id="uerEmail" placeholder="EMAIL">
                  <label class="fw-bold" for="uerEmail">EMAIL</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control fs-lg-7" placeholder="COMMENTS" id="userCommit"
                    style="height: 120px"></textarea>
                  <label for="userCommit">COMMENTS</label>
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <button type="submit" class="btn btn-primary fw-medium rounded-0 w-100">
                  <span class="material-symbols-outlined align-top">point_scan</span>
                  送出
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- AI robot介紹 -->
    <div class="row text-center g-0">
      <div class="col-6 col-xl-3 position-relative text-white">
        <div class="index-intro-mask index-intro-mask-diane border-end border-bottom border-bottom-xl-0 border-white">
          <a href="#" class="link-light d-block pb-8 pb-lg-14">
            <p class="font-saira fs-lg fs-xl-xl mb-4 mb-lg-5">1</p>
            <h4 class="font-shrikhand fw-6 fw-lg-5 mb-4 mb-lg-20">Diane</h4>
            <div class="text-start ps-3 ps-lg-10">
              <h5 class="fw-bold mb-0">知識型</h5>
              <div class="d-flex flex-column flex-xxl-row">
                <p class="me-0 me-xl-10 mb-0">學術領導/知識分享/智能問答</p>
                <div>
                  <img src="../assets/images/line_end_arrow_lg.png" alt="Daine詳細介紹">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 position-relative text-white">
        <div class="index-intro-mask index-intro-mask-felix border-end border-bottom border-bottom-xl-0 border-white">
          <a href="#" class="link-light d-block pb-8 pb-lg-14">
            <p class="font-saira fs-lg fs-xl-xl mb-4 mb-lg-5">2</p>
            <h4 class="font-shrikhand fw-6 fw-lg-5 mb-4 mb-lg-20">Felix</h4>
            <div class="text-start ps-3 ps-lg-10">
              <h5 class="fw-bold mb-0">娛樂型</h5>
              <div class="d-flex flex-column flex-xxl-row">
                <p class="me-0 me-xl-10 mb-0">音樂播放/語音互動/遊戲陪伴</p>
                <div>
                  <img src="../assets/images/line_end_arrow_lg.png" alt="Felix詳細介紹">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 position-relative text-white">
        <div class="index-intro-mask index-intro-mask-karina border-end border-white">
          <a href="#" class="link-light d-block pb-8 pb-lg-14">
            <p class="font-saira fs-lg fs-xl-xl mb-4 mb-lg-5">3</p>
            <h4 class="font-shrikhand fw-6 fw-lg-5 mb-4 mb-lg-20">Karina</h4>
            <div class="text-start ps-3 ps-lg-10">
              <h5 class="fw-bold mb-0">生活型</h5>
              <div class="d-flex flex-column flex-xxl-row">
                <p class="me-0 me-xl-10 mb-0">健康提醒/日程安排/智能家居</p>
                <div>
                  <img src="../assets/images/line_end_arrow_lg.png" alt="Karina詳細介紹">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 position-relative text-white">
        <div class="index-intro-mask index-intro-mask-vito">
          <a href="#" class="link-light d-block pb-8 pb-lg-14">
            <p class="font-saira fs-lg fs-xl-xl mb-4 mb-lg-5">4</p>
            <h4 class="font-shrikhand fw-6 fw-lg-5 mb-4 mb-lg-20">Vito</h4>
            <div class="text-start ps-3 ps-lg-10">
              <h5 class="fw-bold mb-0">情感型</h5>
              <div class="d-flex flex-column flex-xxl-row">
                <p class="me-0 me-xl-10 mb-0">情感識別/心情分析/心靈支持</p>
                <div>
                  <img src="../assets/images/line_end_arrow_lg.png" alt="Vito詳細介紹">
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>