<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最新消息</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="bg-cus-circle">
            <div class="container">
                <div class="row d-lg-flex d-flex justify-content-center">
                    <div class="col-lg-4 col-12 text-white">
                        <h2 class="fs-lg-3 fs-4 ms-7 ls-lg-12 ls-10 mt-lg-39 mt-15 mb-15">最新消息</h2>
                    </div>
                </div>
                <ul class="row justify-content-center ul-p-0">
                    <li class="col-lg-3 col-12 d-flex align-items-center mb-15">
                        <h3 class="d-inline text-white fs-lg">1</h3>
                        <img src="../assets/images/news.png" alt="News" class="img-fluid img-news-hover img-news ms-7">
                    </li>
                    <li class="col-lg-6 col-12 d-flex align-items-center mb-lg-15 mb-4">
                        <a href="new1.html" class="border-top border-bottom  pt-10 pb-10">
                            <time class="fw-bold mb-2 ls-4 text-white">
                                <span class="material-symbols-outlined align-top">emergency</span>
                                2023.06.30</time>
                            <h6 class="text-white fs-7 mb-3">產品升級公告</h6>
                            <p class="text-white">榮幸地宣布，ALPHABOX+
                                已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                        </a>
                    </li>
                    <li class="col-lg-1 col-12 d-lg-flex d-flex justify-content-lg-start justify-content-end mb-lg-11">
                        <a href="new1.html" class="align-self-end">
                            <span class="material-symbols-outlined text-white">
                                arrow_forward
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="row justify-content-center ul-p-0">
                    <li class="col-lg-3 col-12 d-flex align-items-center mb-15">
                        <h3 class="d-inline text-white fs-lg">2</h3>
                        <img src="../assets/images/thanks.png" alt="thanks"
                            class="img-fluid img-news-hover img-news ms-7">
                    </li>
                    <li class="col-lg-6 col-12 d-flex align-items-center mb-lg-15 mb-4">
                        <a href="#" class="border-top border-bottom pt-10 pb-10">
                            <time class="fw-bold mb-2 ls-4 text-white">
                                <span class="material-symbols-outlined align-top mb-2">emergency</span>
                                2023.06.30</time>
                            <h6 class="text-white fs-7 mb-3">限時優惠活動</h6>
                            <p class="text-white">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。購買 ALPHABOX+
                                的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。</p>
                        </a>
                    </li>
                    <li class="col-lg-1 col-12 d-lg-flex d-flex justify-content-lg-start justify-content-end mb-lg-11">
                        <a href="#" class="align-self-end">
                            <span class="material-symbols-outlined text-white">
                                arrow_forward
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="row justify-content-center ul-p-0">
                    <li class="col-lg-3 col-12 d-flex align-items-center mb-15">
                        <h3 class="d-inline text-white fs-lg">3</h3>
                        <img src="../assets/images/exhibition.png" alt="exhibition"
                            class="img-fluid img-news-hover img-news ms-7">
                    </li>
                    <li class="col-lg-6 col-12 d-flex align-items-center mb-lg-15 mb-4">
                        <a href="#" class="border-top border-bottom pt-10 pb-10">
                            <time class="fw-bold mb-2 ls-4 text-white">
                                <span class="material-symbols-outlined align-top mb-2">emergency</span>
                                2023.06.01</time>
                            <h6 class="text-white fs-7 mb-3">參加科技展覽</h6>
                            <p class="text-white">
                                本公司將參與今年的台灣國際科技展覽，屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！
                            </p>
                        </a>
                    </li>
                    <li class="col-lg-1 col-12 d-lg-flex d-flex justify-content-lg-start justify-content-end mb-lg-11">
                        <a href="#" class="align-self-end">
                            <span class="material-symbols-outlined text-white">
                                arrow_forward
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="row justify-content-center ul-p-0">
                    <li class="col-lg-3 col-12 d-flex align-items-center mb-15">
                        <h3 class="d-inline text-white fs-lg">4</h3>
                        <img src="../assets/images/update.png" alt="update"
                            class="img-fluid img-news-hover img-news ms-7">
                    </li>
                    <li class="col-lg-6 col-12 d-flex align-items-center mb-lg-15 mb-4">
                        <a href="#" class="border-top border-bottom pt-10 pb-10">
                            <time class="fw-bold mb-2 ls-4 text-white">
                                <span class="material-symbols-outlined align-top mb-2">emergency</span>
                                2023.06.30</time>
                            <h6 class="text-white fs-7 mb-3">新功能上線</h6>
                            <p class="text-white">
                                為使您的3D立體陪伴機器人更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。近期，我們新推出智慧家居控制功能。
                            </p>
                        </a>
                    </li>
                    <li class="col-lg-1 col-12 d-lg-flex d-flex justify-content-lg-start justify-content-end mb-lg-11">
                        <a href="#" class="align-self-end">
                            <span class="material-symbols-outlined text-white">
                                arrow_forward
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="row justify-content-center ul-p-0">
                    <li class="col-lg-3 col-12 d-flex align-items-center mb-15">
                        <h3 class="d-inline text-white fs-lg">5</h3>
                        <img src="../assets/images/interview.png" alt="interview"
                            class="img-fluid img-news-hover img-news ms-7">
                    </li>
                    <li class="col-lg-6 col-12 d-flex align-items-center mb-lg-15 mb-4">
                        <a href="#" class="border-top border-bottom pt-10 pb-10">
                            <time class="fw-bold mb-2 ls-4 text-white">
                                <span class="material-symbols-outlined align-top mb-2">emergency</span>
                                2023.06.30</time>
                            <h6 class="text-white fs-7 mb-3">用戶見面會</h6>
                            <p class="text-white">
                                為進一步滿足客戶需求，並優化產品性能，我們將舉行用戶見面會。屆時，我們將向您展示我們的研發成果，同時聆聽您的意見和建議，讓我們共同打造更完美的產品！同時聆聽您的意見和建議！
                            </p>
                        </a>
                    </li>
                    <li class="col-lg-1 col-12 d-lg-flex d-flex justify-content-lg-start justify-content-end mb-15">
                        <a href="#" class="align-self-end">
                            <span class="material-symbols-outlined text-white">
                                arrow_forward
                            </span>
                        </a>
                    </li>
            </div>

            <nav aria-label="pagination">
                <ul class="pagination pagination-sm pb-30 d-flex justify-content-center">
                    <li class="page-item" aria-current="page">
                        <a class="text-white fs-6 me-5 border-bottom" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="text-white fs-6 me-5" href="#">2</a></li>
                    <li class="page-item"><a class="text-white fs-6 me-5" href="#">3</a></li>
                </ul>
            </nav>
        </div>

        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>